!!! 5
%html
  %head
    :css
      body { padding: 10px 0; font-family: Palatino, serif; }
      article { margin: 0 auto; width: 840px; }
      pre { overflow: auto; padding: 20px; background: #F0F8FF; }
      pre a { color: #333; }
      code { font-family: Monaco, monospace; }
      section { margin: 0 0 28px 0; }
      input { font-size: 24px; margin-bottom: 12px; font-family: Helvetica, sans-serif;}
      input[type=text] {
        width: 100%;
      }
      header { margin-bottom: 32px; border-bottom: 3px solid #FDF5E6; }
      header h1 { letter-spacing: 3px; margin-bottom: 8px }
      h1,h2 { font-weight: normal; margin: 0px 0 16px; }
      h1 { font-size: 44px; }
      h2 { font-size: 28px; }
      a, a:link, a:visited { color: #4169E1}

    :javascript
      function showExample() {
        var e = document.getElementById("example");
        e.innerHTML = "<img src='/example.gif' />";
        document.getElementById('show-link').innerHTML = "";
        return false;
      }

  %body
    %article
      %header
        %h1 Starfleet Me

      %section
        %h2 Starfleet an image
        %form(method='get')
          %input(placeholder="http://your.com/image.jpg" type="text" name="source")
          %br
          %input(type="submit" value="Starfleet me")

      %section
        %h2 API
        %pre
          %code
            = preserve do
              %a(href="/?source=http://goo.gl/9vO6c") http://starfleet-me.herokuapp.com/?source=http://goo.gl/9vO6c
              %br
              %a(href="/visor?source=http://www.lambdal.com/test2.jpg") http://starfleet-me.herokuapp.com/visor?source=http://www.lambdal.com/test2.jpg

      %section
        %h2 Example
        #example
        %a#show-link(href="#" onclick="showExample()") Load example
